@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@300&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    top: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    height: 50px;
}

nav ul{
    display: flex;
    color: white;
    list-style-type: none;
    display: flex;
    align-items: center;
}

nav ul li{
    padding: 0 10px;
    cursor: pointer;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    padding: 2px 8px;
}

.brand img{
    height: 44px;
    padding: 0 8px;
}

/*---------------------------------------------- container ----------------------------------------------*/
.container{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    color: white;
    margin: 20px 180px;
    border-radius: 34px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 18px;
    padding-bottom: 28px;
}

.songList{
    background-color: white;
    color: black;
    width: 470px;
    border-radius: 34px;
    padding: 5px 18px;
    margin-top: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.songList span{
    display: flex;
    align-items: center;
}

.timestamp i{
    padding: 0 10px;
    cursor: pointer;
}

.songList img{
    height: 34px;
    width: auto;
    border-radius: 34px;
}

/*---------------------------------------------- bottom bar ----------------------------------------------*/
.bottom{
    position: sticky;
    bottom: 0;
    background-color: black;
    color: white;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    margin-left: 10vw;
    cursor: pointer;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

.songName{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    padding-top: 25px;
    margin-left: 10vw;
}

.songName img{
    opacity: 0;
    transition: ease-in;
}

.songName span{
    padding-left: 3px;
}